xml-resources/web-service-references/Login/wsdl/yaroc_8080/webServiceLogin/Login.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://model.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://model.org/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="Negociacion" type="tns:Negociacion"/>

<xs:element name="NegociacionResponse" type="tns:NegociacionResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:complexType name="Negociacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="NegociacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="userName" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="password" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>