src/META-INF/wsdl/192.168.0.110_8080/webServiceScanner-master/scanner.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scanner.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://scanner.org/" name="scanner">
<types>
<xsd:schema>
<xsd:import namespace="http://scanner.org/" schemaLocation="http://yaroc:8080/webServiceScanner-master/scanner?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="getFisrtIp">
<part name="parameters" element="tns:getFisrtIp"/>
</message>
<message name="getFisrtIpResponse">
<part name="parameters" element="tns:getFisrtIpResponse"/>
</message>
<message name="ImFirst">
<part name="parameters" element="tns:ImFirst"/>
</message>
<message name="ImFirstResponse">
<part name="parameters" element="tns:ImFirstResponse"/>
</message>
<message name="getFirstUserName">
<part name="parameters" element="tns:getFirstUserName"/>
</message>
<message name="getFirstUserNameResponse">
<part name="parameters" element="tns:getFirstUserNameResponse"/>
</message>
<portType name="scanner">
<operation name="removeUser">
<input wsam:Action="http://scanner.org/scanner/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://scanner.org/scanner/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="getFisrtIp">
<input wsam:Action="http://scanner.org/scanner/getFisrtIpRequest" message="tns:getFisrtIp"/>
<output wsam:Action="http://scanner.org/scanner/getFisrtIpResponse" message="tns:getFisrtIpResponse"/>
</operation>
<operation name="ImFirst">
<input wsam:Action="http://scanner.org/scanner/ImFirstRequest" message="tns:ImFirst"/>
<output wsam:Action="http://scanner.org/scanner/ImFirstResponse" message="tns:ImFirstResponse"/>
</operation>
<operation name="getFirstUserName">
<input wsam:Action="http://scanner.org/scanner/getFirstUserNameRequest" message="tns:getFirstUserName"/>
<output wsam:Action="http://scanner.org/scanner/getFirstUserNameResponse" message="tns:getFirstUserNameResponse"/>
</operation>
</portType>
<binding name="scannerPortBinding" type="tns:scanner">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFisrtIp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImFirst">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFirstUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="scanner">
<port name="scannerPort" binding="tns:scannerPortBinding">
<soap:address location="http://yaroc:8080/webServiceScanner-master/scanner"/>
</port>
</service>
</definitions>